*,
html {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #003c3c, #4f9bad);
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(243, 247, 248);
    text-align: center;
}

h2 {
    color: navy;
    text-align: center;
}
h3 {
    color: rgb(248, 248, 250);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container-navbar {
    background-color: #053e42;
    width: 100%;
    height: 100px;
}

.ul-navbar {
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}

.li-navbar {
   border: 1Px solid #ffffff;
   background-color: rgb(10, 68, 68);
   list-style-type: none;
   padding: 20px;
   margin: 5px;
   color: aliceblue;
}
.li-navbar:hover {
    background-color: rgb(66, 148, 173);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transition-delay: 0.2s;
    border-radius: 8px;
}
.a-navbar {
    text-decoration: none;
    color: white;
}
.b-navbar {
    text-decoration: none;
    color: white;
}
.c-navbar {
    text-decoration: none;
    color: white;
}


.container-content {
    background-color: rgb(66, 148, 173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
    gap: 10px;
}

.img-content {
    margin: 0;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.img-content img:hover {
    transform: scale(1.05);
}

.container-footer {
    text-align: left;
    margin-left: 20px;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0);}
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: 0.3s;
}
.social-links a:hover {
    color: yellow;
}

@media (max-width: 768px) {
    .container {
        min-height: auto;
        padding: 20px;
    }
    .img-content img {
        max-width: 70%;
    }
}
footer {
    background: rgba(0,0,0,0.3);
    text-align: center;
    padding: 10px;
    font-size: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

